:root {
  --miyamoto-red: #e30513;
  --white-smoke: #f5f5f5;
  --black: #000000;
  --white: #ffffff;

  /* Fonts */
  --font-primary: 'Inter', sans-serif;
  --font-secondary: "Noto Serif", serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-primary);
  background-color: var(--white-smoke);
  color: var(--black);
  line-height: 1.5;
}

/* Heading Style  */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-secondary);
  font-weight: 300;
}

h1 {
  font-size: 80px;
  line-height: 96px;
  color: var(--white);
}
h2{
  font-size: 56px;
  line-height: 67px;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ===================== [ CONTAINER ] ===================== */
.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 80px;
}

@media (max-width: 1024px) {
  .container {
    padding-inline: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-inline: 20px;
  }
}

/* ===================== [ HEADER ] ===================== */
.header {
  backdrop-filter: blur(30px);
  background: #00000080;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
}

/* Logo */
.navbar-logo {
  height: 42px;
  width: 165px;
  display: block;
}

/* Nav Links */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 32px;
  list-style: none;
}

.navbar-links a {
  color: var(--white);
  font-size: 16px;
  font-weight: 300;
  transition: color 0.2s ease-in-out;
}

.navbar-links a:hover {
  color: var(--miyamoto-red);
}

/* Icons */
.navbar-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}


/* ===================== [ RESPONSIVE ] ===================== */
@media (max-width: 768px) {
  .navbar-links {
    display: none;
  }
}